{% extends 'base.html' %}
{% load static %}

{% block style %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'orders/css/styles.css' %}"
/>
{% endblock  %}

{% block content %}
<section class="orders-container">
    <h3>Orders</h3>
    <div>
        <table>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Status</th>
                <th>Bill</th>
              </tr>
              {% for order in orders %}
              <tr>
                <td>{{order.id}}</td>
                <td>{{order.date}}</td>
                <td>{{order.status}}</td>
                <td>{{order.get_subtotal}}</td>
              </tr> 
              {% endfor %}
        </table>
    </div>
</section>
{% endblock  %}