{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="login-container">
  <h1>Login</h1>

  {% for message in messages %}
  <p class="error">{{message}}</p>
  {% endfor %}

  <form method="POST" action="" class="login-form">
    {% csrf_token %}
    <div style={margin: '10px'}>
      <label>Username</label>
      <input type="text" name="username" />
    </div>
    </br>
    <div style={margin: '10px'}>
      <label>Password</label>
      <input type="password" name="password" />
    </div>
    </br>

    <input type="submit" value="Login" name="Login User" />
  </form>
<p>Don't have an account? <a href="{% url 'register' %}">Register</a> </p>
</div>
{% endblock  %}
