{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="login-container">
<h1>Register User</h1>

<form method="POST" action="" class="login-form">
  {% csrf_token %} 
  <h3>User Info:</h3>
  {% for field in form %} 
    <div style={margin: '10px'}>
        {{field.label}} {{field}} 
    </div>
    <br />
  {% endfor%}
  <h3>Contact Info:</h3>
  {% for field in profile_form %} 
    <div style={margin: '10px'}>
        {{field.label}} {{field}} 
    </div>
    <br />
  {% endfor%}
  <h3>Address:</h3>
  {% for field in address_form %} 
    <div style={margin: '10px'}>
        {{field.label}} {{field}} 
    </div>
    <br />
  {% endfor%}

  <input type="submit" name="Create User" />

  {{ form.errors }}
  {{ profile_form.errors }}
  {{ address_form.errors }}
</form>
</div>
{% endblock  %}