{% load static %}

<nav class="navbar">
  <div style="display: flex; align-items: center; gap: 30px">
    <h3><a href="{% url 'home' %}" style="text-decoration: none">BuyNow</a></h3>
    {% if request.user.is_authenticated %}
    <p>{{ request.user.username }} {{ request.user.userprofile.type }}</p>
    {% endif %}
  </div>
  {% if request.user.is_authenticated %}
  <div>
      {% if request.user.userprofile.type == "customer" %}
      <a href="{% url 'cart' %}" style="text-decoration: none"
      >CART
      <sup class="superscript">
        {% if request.user.userprofile.order_set.last.get_cart_items %}
            {{ request.user.userprofile.order_set.last.get_cart_items }}
        {% else %}
        0
        {% endif %}

        </sup>
    </a>
    <a href="{% url 'orders' %}" style="text-decoration: none; margin-left: 30px">Orders</a>
    {% endif %}
    <a href="{% url 'logout' %}" style="margin-left: 30px">Logout</a>
  </div>
  {% endif %}
</nav>
