.container {
    text-align: center;
    max-width: 850px;
    margin: auto;
}

.product {
    border: 3px solid grey;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
}
.product-alert {
    border-color: red;
}
.button-container {
    text-align: end;
    margin-right: 40px;
}
.button {
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}